<h2 class="page-title">Search For Movies</h2>

<div class="search-form">
  <p>try searching by...</p>
  <ol class="well">
    <li><b>Title:</b> Anchorman</li>
    <li><b>Actor:</b> Will Ferrell</li>
    <li><b>Character Names:</b> Ron Burgundy</li>
    <li><b>Keywords:</b> News</li>
  </ol>

  <%= form_tag filter_movies_path, method: "post" do %>
    <%= text_field_tag :query, "", autofocus: true, class: "form-control" %>
    <%= submit_tag "Search", class: "btn btn-primary btn-block" %>
  <% end %>
</div>

<% if @movies && @movies.empty? %>
  <h4>No Results Found</h4>
<% elsif @movies %>
    <%= render @movies %>
<% end %>